/*  Contents of this file:
 *  |Basic Layout|
 *  |Colors|
 *  |Interactivity|
 */

/* *Basic Layout* */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /*Centering the calculator on the page*/
    height: 100vh;
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: center;
    font-family: 'Inconsolata', monospace;
    font-size: 100%;
}

    .calc-body {
        min-width: 300px;
        max-width: 450px;
        width: 420px;
        max-height: 100vh;
        display: grid;
        /*base layout only has rows*/
        grid-template-areas: "title"
                            "display"
                            "buttons"
        ;
        grid-gap: 5px;
        grid-template-columns: 100%;
        grid-template-rows: 10% 20% 70%;
        border: solid 1px rgb(214, 205, 198);
    }
        .title {
            margin: 1.5em 0.5em 0em 0.7em;
            font-family: 'Do Hyeon', sans-serif;
            font-style: italic;
            font-size: 1.1rem;
        }
        .display {
            min-height: 80px;
            margin: 0.1em 1.3em 0.8em 1.3em;
            display: inline-block;
        }
            .user-input {
                min-width: 100%;
                width:100%;
                max-height: 50%;
                text-overflow:ellipsis; 
                display: inline-block;
                padding: 0.4em 0.4em 0 0.6em;
            }
            .result {
                min-width: 100%;
                width:100%;
                max-height: 50%;
                text-overflow:ellipsis; 
                display: inline-block;
                text-align: right;
                padding: 0.2em 0.6em 0.4em 0.4em;
            }

        .buttons {
            grid-area: buttons;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: "clear clear divide mult"
                                 "seven eight nine minus"
                                 "four five six plus"
                                 "one two three equal"
                                 "zer zer dec equal"
                                ;
            margin: 0.5em 0.8em 2.5em 0.8em;
            font-family: 'Inconsolata', monospace;
        }
            /*digit button styling*/
            .digit {
                margin: 0.2em;
                padding: 1em 0.9em 1em 0.9em;
                font-family: inherit;
            }
            /*operator and other button styling*/
            .operator, .clear, .equal {
                margin: 0.2em;
                padding: 1em 0.9em 1em 0.9em;
                font-family: inherit;
            }

            /*defining grid area names*/
            .zero {
                grid-area: zer;
            }
            .one {
                grid-area: one;
            }
            .two {
                grid-area: two;
            }
            .three {
                grid-area: three;
            }
            .four {
                grid-area: four;
            }
            .five {
                grid-area: five;
            }
            .six {
                grid-area: six;
            }
            .seven {
                grid-area: seven;
            }
            .eight {
                grid-area: eight;
            }
            .nine {
                grid-area: nine;
            }
            .dec {
                grid-area: dec;
            }
            .plus {
                grid-area: plus;
            }
            .minus {
                grid-area: minus;
            }
            .multiply {
                grid-area: mult;
            }
            .divide {
                grid-area: divide;
            }
            .clear {
                grid-area: clear;
            }
            .equal {
                grid-area: equal;
            }

/* *Colors* */
.calc-body {
    background-color: #F9F7F6;
    box-shadow: 1px 1px 4px 5px rgb(218, 215, 219);
    border-radius: 4px;
}

    .title {
        color: #696F86;
        padding: 2px;
    }
    .display {
        background-color: #f1eefb;
        border: solid 1px #c5c0d4;
        border-radius: 5px;
        box-shadow: inset 1px 1px 1px 1px #737ca5;
    }
        .user-input {
            color: #4d4764;
            font-size: 1.2rem;
        }
        .result {
            font-size: 2rem;
            color:#36304b;
        }
    /*button colors*/
    .digit {
        box-shadow: 0px 2px 3px -3px #2d303d;
        border:solid 1px rgb(228, 205, 205);
        border-radius: 4px;
        color: #2f2b3d;
        background-color: #F9F7F6;
        font-size: 1.3rem;
    }
    .operator, .clear, .equal {
        box-shadow: 0px 1px 3px -3px #303341;
        border:solid 1px rgb(162, 180, 190);
        border-radius: 4px;
        background-color: #ff9361;
        color: #2f2b3d;
        font-size: 1.4rem;
    }

/* *Interactivity* */
button:hover {
    outline:none;
    color:#0b81af;
    text-shadow: 1px 1px 2px 2px whitesmoke;
}
button:active {
    box-shadow: 0 2px rgb(185, 150, 129);
    transform: translateY(2px);
  }

button:focus {
    border:solid 1px #4990ac;
    box-shadow: 1px 1px 1px 1px  #90b6c5;

}
